@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

html {
   font-family: 'Roboto', sans-serif;
}

.clearfix::after {
   content: "";
   display: block;
   clear: both;
}

/* HEADER */

header {
   height: 220vh;
   font-size: 15px;
   color: #fff;
   background-image: url("images/apartament.jpg");
   background-size: cover;
   background-position: center;
}

.headerWraper {
   padding: 10% 5% 0 5%;
   background-color: rgba(0,0,0, 0.4);
}

header .topic > div {
   width: 50%;
   float: left;
}

header .logo {
   padding-right: 30px;
   text-align: left;
}

header .logo .logoTitle {
   margin-bottom: 5px;
   border-bottom: 3px solid #fff;
   font-weight: 600;
   font-size: 20px;
}

header .callMe {
   text-align: right;
}

header .callMe .number {
   margin-top: 5px;
   font-size: 18px;
   font-weight: 600;
   color: #09d65b;
}

header .topic p {
   line-height: 150%;
   text-transform: capitalize;
}

/*  SECTION INTRODUCTION */

header .introduction {
   margin-top: 20%;
   text-align: left;
}

header h3 {
   font-size: 20px;
   color: #09d65b;
}

header .introduction h1 {
   margin-top: 10px;
   font-size: 45px;
   text-transform: uppercase;
}

header .introduction p {
   margin-top: 20px;
   line-height: 150%;
}

/* CONTACT */

.contact {
   margin-top: 50px;
   padding: 20px;
   background-color: #06023d;
}

header .contact h1 {
   font-size: 30px;
   color: #09d65b;
   text-transform: uppercase;
}

header .contact p {
   margin: 20px 0;
}

.contact label {
   font-size: 17px;
   color: #09d65b;
}

.contact input {
   width: 100%;
   height: 25px;
   margin: 10px 0;
   padding: 5px 10px;
   font-size: 15px;
}

.contact textarea {
   width: 100%;
   height: 150px;
   margin-top: 10px;
   padding: 10px;
   font-size: 15px;
}

.contact input[type=submit] {
   height: 30px;
   font-size: 16px;
   background-color: #09d65b;
   border: none;
}

.contact .links {
   margin-top: 30px;
}

.contact .links i {
   padding: 5px;
   font-size: 25px;
}

/* MAIN */

.wraper {
   padding: 5% 5% 0 5%;
}

/* INFORMATONS */

main .informations .subtitle {
   margin-top: 30px;
   font-size: 20px;
}

main .informations h1 {
   font-size: 40px;
   color: #06023d;
   text-transform: uppercase;
}

main .informations p {
   margin-top: 20px;
   font-size: 17px;
}

/* DETAILS */

main .details {
   margin-top: 50px;
}

main .details h2 {
   font-size: 25px;
   color: #06023d;
}

main .details table {
   margin-top: 20px;
   width: 100%;
}

main .details table tr {
   height: 50px;
}

/* PRZERYWNIK IMG INSIDE */

main .inside {
   width: 100%;
   height: 300px;
   margin: 50px 0;
   background-image: url('images/inside.jpg');
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}

/* FEATURES */

.features .feature {
   margin-top: 50px;
}

main .features .subtitle {
   font-size: 23px;
   font-weight: bold;
   text-align: center;
   color: #06023d;
   margin-bottom: 10px;
}

main .features h1 {
   font-size: 35px;
   color: #06023d;
   text-transform: uppercase;
   text-align: center;
   margin-bottom: 40px;
}

main .feature i {
   font-size: 50px;
   text-align: center;
   display: block;
   color: #09d65b;
   line-height: 100px;
}

main .feature h2 {
   font-size: 20px;
   font-weight: 400;
   text-align: center;
   margin-bottom: 15px;
}

main .feature p {
   text-align: center;
}

main .feature .bgc {
   width: 100px;
   height: 100px;
   margin: 20px auto 50px auto;
   box-shadow: -10px -10px #09d65b;
   background-color: #06023d;
}

/* ABOUT */
footer {
   color: #fff;}

footer .about {
   margin-top: 50px;
   background-image: url("images/clouds.jpg");
   background-size: cover;
}

footer .about .subtitle {
   margin-bottom: 10px;
   font-size: 18px;
}

footer .about h1 {
   margin-bottom: 20px;
   font-size: 30px;
   color: #09d65b;
   text-transform: uppercase;
}

footer .about p {
   line-height: 150%;
}

footer .about .wraper {
   padding: 15% 7% 0 7%;
   background-color: rgba(0,0,0,0.6);
}

footer .about a {
   display: block;
   margin-top: 20px;
   color: #09d65b;
}

footer .about .politics {
   padding: 10px 0;
   color: #fff;
   text-align: center;
}